h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

body{
    text-align: center;
    background-color: cadetblue;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
}

div {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 1px solid black;
}