h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

body{
    text-align: center;
    background-color: cadetblue;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.normal {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    background-color:cornflowerblue;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px black;
}